h1 {
	text-align: center;
	font-size: 50pt;
}
h2 {
	background-color: red;
	margin-bottom: 10px;
}
body {
	background-color: #DCDCDC;
}
.seal {
	position: absolute;
	margin-left: 10px;
	top: 20px;
}
.entrydate {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse;
	margin-bottom: 5px;
	float: left;
	background-color: #D3D3D3;
}
.entrycontents {
	display: inline-block;
	margin-bottom: 10px;
}
.entryfooter {
	font-size: 8pt;
	font-style: italic;
}