#caption {
	padding: 10px;
	box-sizing: border-box;
	color: white;
	font-size: 14pt;
	font-family: sans-serif;
	background-color: #008800;
	opacity: 0.5;
}
img {
	user-select: none;
}
#leftArrow {
	width: 15%;
	float: left;
}
#rightArrow {
	height: 35px;
	width: 10%;
	float: right;
	padding: 10px;
}